<!DOCTYPE>
    <html lang='pt-br'>
    <head>
        <meta charset='UTF-8'>
        <title>View Test</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Bandeira</td>
                    <td>Validade</td>
                    <td>Limite</td>
                    <td>Parcial da Fatura</td>
                    <td>Proxima Fatura</td>
                </tr>
            </thead>
            <tbody>
            {% if compras %}

            {% endif %}
            </tbody>
        </table>
    </body>
</html>