<!DOCTYPE>
    <html lang='pt-br'>
    <head>
        <meta charset='UTF-8'>
        <title>View Test</title>
        <style type="text/css">
            td {
                width: 130px;
            }
            td.maior{
                width: 240px;
            }
        </style>
    </head>
    <body>
        <h1 align="center">Mostrando os Cartões</h1>
        <br><br>
        <table border="1" align="center">
            <thead>
                <tr align="center">
                    <td>Nome</td>
                    <td>Bandeira</td>
                    <td>Validade</td>
                    <td>Limite</td>
                    <td>Parcial da Fatura</td>
                    <td class="maior">Proxima Fatura</td>
                </tr>
            </thead>
            <tbody>
            {% if cartoes %}
                {% for cartao in cartoes %}
                <tr align='center'>
                    <td>{{ cartao.nome }}</td>
                    <td>{{ cartao.bandeira }}</td>
                    <td>{{ cartao.validade }}</td>
                    <td>{{ cartao.limite }}</td>
                    <td>{{ cartao.parcialFatura }}</td>
                    <td>{{ cartao.proxFatura }}</td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </body>
</html>